<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Aware</title>
    <link rel="stylesheet" href="/css/landing.css">
    {{> head}}
</head>
<body>
    <main>
        <div class="left">
            <div class="header-text">Write. Reflect. Grow.</div>
            <div class="subheader-text">Journal your thoughts, track your mood, and discover ways to feel better.</div>
            <div class="button-container">
                <button class="light login-button" id="sign-up" onclick="window.location.href='/signup'">Get Started</button>
                <button class="dark login-button" id="login" onclick="window.location.href='/login'">Login</button>
            </div>
        </div>
    </main>
</body>
</html>