<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Aware</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>
        <div class="header-text">Login</div>
        <div class="subheader-text">to start journaling</div>
        <div class="input-container">
            <div>
                <div class="subtext">Email</div>
                <input type="text" class="login-input" id="email" name="email" placeholder="Email"/>
            </div>
            <div>
                <div class="subtext">Password</div>
                <input type="password" class="login-input" id="password" name="password" placeholder="Password"/>
            </div>
            <button class="dark login-button" id="login">Login</button>
            <div class="subtext">Don't have an account? <a href="/signup">Sign up</a></div>
        </div>
    </main>
</body>
</html>