<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Aware</title>
    <link rel="stylesheet" href="/css/journal.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    {{> head}}
</head>
<body>
    {{> sidebar}}

    <main>
        <div class="journal">
            <textarea placeholder="How are you feeling today?"></textarea>
        </div>
        <div class="lower">
            <div class="calendar">
                <div class="day">S</div>
                <div class="day">M</div>
                <div class="day">T</div>
                <div class="day">W</div>
                <div class="day">T</div>
                <div class="day">F</div>
                <div class="day today active">S</div>
            </div>
            <div class="page-control">
                <i class="arrow left"></i>
                <div class="current-page">
                    1 / 1
                </div>
                <i class="arrow right"></i>
            </div>
        </div>
    </main>

    <script aria-hidden="true" src="/js/sidebar.js"></script>
</body>
</html>